---
http_interactions:
- request:
    method: get
    uri: http://dataservice.accuweather.com/locations/v1/cities/ipaddress?apikey=<API_KEY>&q=192.168.1.138
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '49'
      X-Location-Key:
      - '2160760'
      Akamai-Grn:
      - 0.0e9eca17.1677133046.50d2536a
    body:
      encoding: UTF-8
      string: '{"Version":1,"Key":"2160760","Type":"City","Rank":55,"LocalizedName":"Ashburn","EnglishName":"Ashburn","PrimaryPostalCode":"20147","Region":{"ID":"NAM","LocalizedName":"North
        America","EnglishName":"North America"},"Country":{"ID":"US","LocalizedName":"United
        States","EnglishName":"United States"},"AdministrativeArea":{"ID":"VA","LocalizedName":"Virginia","EnglishName":"Virginia","Level":1,"LocalizedType":"State","EnglishType":"State","CountryID":"US"},"TimeZone":{"Code":"EST","Name":"America/New_York","GmtOffset":-5.0,"IsDaylightSaving":false,"NextOffsetChange":"2023-03-12T07:00:00Z"},"GeoPosition":{"Latitude":39.044,"Longitude":-77.487,"Elevation":{"Metric":{"Value":90.0,"Unit":"m","UnitType":5},"Imperial":{"Value":295.0,"Unit":"ft","UnitType":0}}},"IsAlias":false,"SupplementalAdminAreas":[{"Level":2,"LocalizedName":"Loudoun","EnglishName":"Loudoun"}],"DataSets":["AirQualityCurrentConditions","AirQualityForecasts","Alerts","DailyAirQualityForecast","DailyPollenForecast","ForecastConfidence","FutureRadar","MinuteCast","Radar"]}'
  recorded_at: Thu, 23 Feb 2023 06:17:26 GMT
- request:
    method: get
    uri: http://dataservice.accuweather.com/currentconditions/v1/2160760/historical/24?apikey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '48'
      Akamai-Grn:
      - 0.0e9eca17.1677133046.50d254ca
    body:
      encoding: UTF-8
      string: '[{"LocalObservationDateTime":"2023-02-23T00:58:00-05:00","EpochTime":1677131880,"WeatherText":"Mostly
        cloudy","WeatherIcon":38,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":false,"Temperature":{"Metric":{"Value":7.8,"Unit":"C","UnitType":17},"Imperial":{"Value":46.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/us/ashburn-va/20147/current-weather/2160760?lang=en-us","Link":"http://www.accuweather.com/en/us/ashburn-va/20147/current-weather/2160760?lang=en-us"},{"LocalObservationDateTime":"2023-02-22T23:58:00-05:00","EpochTime":1677128280,"WeatherText":"Mostly
        cloudy","WeatherIcon":38,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":false,"Temperature":{"Metric":{"Value":8.0,"Unit":"C","UnitType":17},"Imperial":{"Value":46.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/us/ashburn-va/20147/current-weather/2160760?lang=en[...]
